{{#paper-sidenav class="md-whiteframe-z2" lockedOpen=true}}
  {{#paper-toolbar as |toolbar|}}
    {{#paper-toolbar-tools class="layout-row layout-align-space-between-center"}}
      <span>{{t 'projects.labels.projects'}}</span>
      {{projects-list/add}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{#paper-content}}
    {{#each project as |projects|}}
      {{projects-list/project}}
    {{/each}}
  {{/paper-content}}
{{/paper-sidenav}}
