{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline class="h5 project"}}
        {{shared/inline-input value=project.name onChange=(action 'saveProject')}}
      {{/text.headline}}
      {{#text.subhead}}
        <small>
          <div class="layout-row layout-xs-column">
            <div class="flex">
              Project: {{project.version}}
            </div>
            <div class="flex">
              Ember: {{project.dependencies.ember-cli}}
            </div>
          </div>
        </small>
      {{/text.subhead}}
    {{/title.text}}

    {{projects-list/project/menu project=project}}
  {{/card.title}}
{{/paper-card}}
