{{#paper-menu as |menu|}}
  {{#menu.trigger}}
    {{#paper-button iconButton=true}}
      {{paper-icon "add"}}
    {{/paper-button}}
  {{/menu.trigger}}

  {{#menu.content width=4 as |content|}}
    {{#content.menu-item onClick="openSomething"}}
      {{paper-icon "folder-open"}}
      <span>Import project/addon</span>
    {{/content.menu-item}}

    {{#content.menu-item onClick="openSomething" disabled=true}}
      {{paper-icon "code"}}
      <span>Create project</span>
    {{/content.menu-item}}

    {{#content.menu-item onClick="openSomething" disabled=true}}
      {{paper-icon "code"}}
      <span>Create addon</span>
    {{/content.menu-item}}
  {{/menu.content}}
{{/paper-menu}}
