<img src="/images/ember.png">

<div>
  {{#paper-button raised=true}}
    {{t "projects.actions.newProject"}}
  {{/paper-button}}

  {{#paper-button raised=true}}
    {{t "projects.actions.newAddon"}}
  {{/paper-button}}
</div>
