
  <img src="/images/ember.png">
  <div>
    {{#paper-button raised=true}}
    Create Ember Project
    {{/paper-button}}

    {{#paper-button raised=true}}
    Create Ember Addon
    {{/paper-button}}
  </div>
